---
# https://aur.archlinux.org/cgit/aur.git/tree/PKGBUILD?h=xst
- name: Aur > installing dependencies for {{ aur_item.name }}
  become: true
  community.general.pacman:
    name: "{{ aur_item.deps }}"
    extra_args: --needed

# - name: aur > downloading the last snapshot
# ansible.builtin.uri:
#   url: "https://aur.archlinux.org/cgit/aur.git/snapshot/{{ aur_item.name }}.tar.gz"
#   dest: "{{ dotfiles_cache_dir }}/{{ aur_item.name }}.tar.gz"
#   use_netrc: false
# register: aur_src

- name: Aur > checking snapshot {{ aur_item.name }}
  ansible.builtin.file:
    path: "~/.cache/reaver/archlinux/{{ aur_item.name }}.tar.gz"
    state: file
    mode: "0700"

- name: Aur > creating building directory
  ansible.builtin.file:
    path: "{{ dotfiles_cache_dir }}/build"
    state: directory
    mode: "0700"

- name: Aur > removing older building directory
  ansible.builtin.file:
    path: "{{ dotfiles_cache_dir }}/build/{{ aur_item.name }}"
    state: absent

- name: Aur > uncompressing source
  ansible.builtin.command:
    chdir: "{{ dotfiles_cache_dir }}/build"
    cmd: tar xvf ~/.cache/reaver/archlinux/{{ aur_item.name }}.tar.gz

- name: Aur > building source
  ansible.builtin.command:
    chdir: "{{ dotfiles_cache_dir }}/build/{{ aur_item.name }}"
    cmd: makepkg --cleanbuild --force --nodeps --noconfirm

- name: Aur > searching for building package '*.pkg.tar.zst'
  ansible.builtin.find:
    paths:
      - "{{ dotfiles_cache_dir }}/build/{{ aur_item.name }}"
    patterns:
      - "{{ aur_item.name }}-[0-9]*.pkg.tar.zst"
    file_type: file
  register: aur_pkg

- name: Aur > installing package {{ aur_item.name }}
  become: true
  community.general.pacman:
    name: "{{ aur_pkg.files[0].path }}"
    state: present
