---
- ansible.builtin.import_tasks: xorg.yml
- ansible.builtin.import_tasks: betterlockscreen.yml
- name: Awm > installing dependencies
  become: true
  ansible.builtin.package:
    name: "{{ dotfiles_awm_pkg_items }}"
    state: present

- ansible.builtin.include_tasks: arch-aur.yml
  loop:
    - name: light
      deps: [base-devel]
  loop_control:
    loop_var: aur_item
  when: ansible_facts["os_family"] == 'Archlinux'

- name: Awm > creating required directory
  ansible.builtin.file:
    path: ~/.config/awesome/config
    state: directory

- name: Awm > add config file
  ansible.builtin.template:
    src: awm-env-lua.j2
    dest: ~/.config/awesome/config/env.lua
