---
- name: Gentoo > portage dir
  become: true
  ansible.builtin.file:
    path: "/etc/portage/{{ item }}"
    state: directory
  with_items:
    - package.accept_keywords
    - package.use
    - repos.conf
    - package.license

- name: Gentoo > add repository
  become: true
  ansible.builtin.template:
    src: gentoo-repository.j2
    dest: /etc/portage/repos.conf/dotfiles.conf
    owner: root
    group: root
    mode: "0644"

- name: Gentoo > sync repository
  become: true
  ansible.builtin.command: "emaint sync -r {{ item }}"
  with_items:
    - "ninjatools"
    - "guru"

- name: Gentoo > install global stuff
  become: true
  ansible.builtin.blockinfile:
    block: "{{ lookup('ansible.builtin.template', 'global.j2') }}"
    marker: "# {mark} Configured with Ansible"
    path: /etc/portage/make.conf
  notify: emerge changed use

- name: Gentoo > /etc/portage
  become: true
  ansible.builtin.template:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    owner: root
    group: root
    mode: "0644"
  notify: emerge changed use
  with_items:
    - src: package-use.j2
      dest: /etc/portage/package.use/dotfiles
    - src: package.accept_keywords.j2
      dest: /etc/portage/package.accept_keywords/dotfiles
