---
- name: Gpu_intel > apply VIDEO_CARDS="intel"
  ansible.builtin.lineinfile:
    path: /etc/portage/make.conf
    regexp: "^VIDEO_CARDS="
    line: 'VIDEO_CARDS="intel"'
  notify: emerge changed use
  when: ansible_facts["os_family"] == 'Gentoo'

- name: Gpu_intel > removing drivers for intel gen7
  ansible.builtin.package:
    name: "{{ dotfiles_gpu_intel_gen7_conflict_pkg_items }}"
    state: absent
  when: dotfiles_gpu_driver == 'intel_gen7' and dotfiles_gpu_intel_gen7_conflict_pkg_items is defined

- name: Gpu_intel > installing drivers for intel gen7
  ansible.builtin.package:
    name: "{{ dotfiles_gpu_intel_gen7_pkg_items }}"
    state: present
  when: dotfiles_gpu_driver == 'intel_gen7'

- name: Gpu_intel > add license for Gentoo
  ansible.builtin.copy:
    dest: /etc/portage/package.license/intel
    content: "media-libs/libva-intel-media-driver no-source-code\n"
  when:
    - dotfiles_gpu_driver == 'intel'
    - ansible_facts["os_family"] == 'Gentoo'

- name: Gpu_intel > installing drivers for intel gen8+
  ansible.builtin.package:
    name: "{{ dotfiles_gpu_intel_pkg_items }}"
    state: present
  when: dotfiles_gpu_driver == 'intel'
