---
# TODO: Arch should need https://aur.archlinux.org/packages/nouveau-fw
# TODO: https://nouveau.freedesktop.org/CodeNames.html
# TODO: https://nouveau.freedesktop.org/VideoAcceleration.html
- name: Nouveau > uninstall conflicting packages
  ansible.builtin.package:
    name: "{{ dotfiles_gpu_nouveau_conflict_pkg_items }}"
    state: absent

- name: Nouveau > Gentoo add VIDEO_CARDS="nouveau"
  ansible.builtin.lineinfile:
    path: /etc/portage/make.conf
    regexp: "^VIDEO_CARDS="
    line: 'VIDEO_CARDS="nouveau"'
  notify: emerge changed use
  when: ansible_facts["os_family"] == 'Gentoo'

- name: Nouveau > Gentoo accept license NVIDIA-r2
  ansible.builtin.copy:
    dest: /etc/portage/package.license/nouveau
    content: "sys-firmware/nvidia-firmware NVIDIA-r2"
  when: ansible_facts["os_family"] == 'Gentoo'

- name: Nouveau > installing dependencies
  ansible.builtin.package:
    name: "{{ dotfiles_gpu_nouveau_pkg_items }}"
    state: present

- name: Nouveau > Arch add MODULES=( nouveau )
  ansible.builtin.lineinfile:
    path: /etc/mkinitcpio.conf
    line: "MODULES+=( nouveau)"
    insertafter: "^MODULES="
    create: true
  when: ansible_facts["os_family"] == 'Archlinux'

- name: Nouveau > ensure udev rules for NVIDIA are removed
  ansible.builtin.file:
    path: /lib/udev/rules.d/99-nvidia.rules
    state: absent

- name: Nouveau > add {{ username }} to video group
  ansible.builtin.user:
    name: "{{ username }}"
    groups: video
    append: true
