---
# tasks file for dotfiles
- name: Load OS-vars
  ansible.builtin.include_vars: "{{ lookup('first_found', params) }}"
  vars:
    params:
      files:
        - "{{ ansible_facts['os_family'] }}.yml"
        - main.yml
      paths:
        - "vars"

- name: Creating cache dir
  ansible.builtin.file:
    path: "{{ dotfiles_cache_dir }}"
    state: directory

- ansible.builtin.import_tasks: debian.yml
  when: ansible_facts["os_family"] == 'Debian'

- ansible.builtin.import_tasks: gentoo.yml
  when: ansible_facts["os_family"] == 'Gentoo'

- name: Setting fact username = {{ ansible_facts["user_id"] }}
  ansible.builtin.set_fact:
    username: "{{ ansible_facts['user_id'] }}"

- ansible.builtin.include_tasks: zsh.yml
  when: dotfiles_zsh | bool

# ##############################
# Removing previous wm installed

- ansible.builtin.include_tasks: drop_not_awesome_m3.yml
  when: dotfiles_wm == "awm-m3"

- ansible.builtin.include_tasks: drop_not_swayfx.yml
  when: dotfiles_wm == "swayfx"

# End Removing previous wm installed
# ##################################

- ansible.builtin.include_tasks: awesome-m2.yml
  when: dotfiles_wm == "awm-m2"

- ansible.builtin.include_tasks: awesome-m3.yml
  when: dotfiles_wm == "awm-m3"

- ansible.builtin.include_tasks: swayfx.yml
  when: dotfiles_wm == "swayfx"

- ansible.builtin.include_tasks: emacs-doom.yml
  when: dotfiles_emacs_doom | bool

- ansible.builtin.include_tasks: external.yml
  when: dotfiles_external | bool

- ansible.builtin.include_tasks: mpd.yml
  when: dotfiles_mpd | bool

- ansible.builtin.include_tasks: neomutt.yml
  when: dotfiles_neomutt | bool

- ansible.builtin.include_tasks: neovim.yml
  when: dotfiles_neovim | bool

- ansible.builtin.include_tasks: tmux.yml
  when: dotfiles_tmux | bool

- ansible.builtin.include_tasks: files-browser.yml
  when: dotfiles_files_browser | bool

- ansible.builtin.include_tasks: wezterm.yml
  when: dotfiles_wezterm | bool

- ansible.builtin.include_tasks: foot.yml
  when: dotfiles_foot | bool

- ansible.builtin.include_tasks: vim.yml
  when: dotfiles_vim | bool

- ansible.builtin.include_tasks: xst.yml
  when: dotfiles_xst | bool
