---
- ansible.builtin.import_tasks: alsa.yml
  when: dotfiles_audio_backend is defined and dotfiles_audio_backend == 'alsa'

- ansible.builtin.import_tasks: pulseaudio.yml
  when: dotfiles_audio_backend is defined and dotfiles_audio_backend == 'pulseaudio'

- name: Mpd > installing dependencies
  become: true
  ansible.builtin.package:
    name: "{{ dotfiles_mpd_pkg_items }}"
    state: present

- name: Mpd > mpd_dir fact
  ansible.builtin.set_fact:
    mpd_dir: ~/.config/mpd

- name: Mpd > creating required directory
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
  with_items:
    - "{{ mpd_dir }}"
    - "{{ mpd_dir }}/playlists"
    - "{{ dotfiles_mpd_music_dir }}"

- name: Mpd > creating required files
  ansible.builtin.file:
    path: "{{ mpd_dir }}/{{ item }}"
    state: touch
    modification_time: preserve
    access_time: preserve
  with_items:
    - database
    - pid
    - state

- name: Mpd > add the config file
  ansible.builtin.template:
    src: mpd.conf.j2
    dest: "{{ mpd_dir }}/mpd.conf"
