---
- ansible.builtin.import_tasks: gpu.yml
- name: Xorg > insert global INPUT_DEVICES="libinput"
  become: true
  ansible.builtin.lineinfile:
    path: /etc/portage/make.conf
    regexp: "^INPUT_DEVICES="
    line: 'INPUT_DEVICES="libinput"'
  when: ansible_facts["os_family"] == 'Gentoo'

# update gentoo here
- name: Xorg > updating gentoo
  become: true
  community.general.portage:
    package: "@world"
    changed_use: true
    deep: true
  when: ansible_facts["os_family"] == 'Gentoo'

- name: Xorg > installing dependencies
  become: true
  ansible.builtin.package:
    name: "{{ dotfiles_xorg_pkg_items }}"
    state: present

- name: Xorg > keymap
  become: true
  block:
    - name: Ensure directory exist
      ansible.builtin.file:
        path: /etc/X11/xorg.conf.d
        state: directory

    - name: Configuring keymap with {{ dotfiles_xorg_keymap }}
      ansible.builtin.template:
        src: xorg/keyboard.j2
        dest: /etc/X11/xorg.conf.d/00-keyboard.conf
