# Ansible role web_browser
{% if web_browser_brave %}
# Brave
app-text/ghostscript-gpl cups
{% endif %}

{% if web_browser_librewolf %}
# Librewolf
media-libs/libvpx postproc

# Librewolf-bin, even we don't need wayland :(
x11-libs/gtk+ wayland
media-libs/mesa wayland
media-libs/freetype harfbuzz
{% if dotfiles_wm == 'swayfx' %}
media-libs/libpulse -X 
{% if dotfiles_audio_backend == 'alsa' %}
# No choice with librewolf-bin, pulse is enable
www-client/librewolf-bin wayland
media-plugins/alsa-plugins pulseaudio
{% elif dotfiles_audio_backend == 'pulseaudio' %}
www-client/librewolf-bin -alsa pulseaudio wayland
{% endif %}
{% endif %}
{% endif %}
