# Ansible role web_browser
{% if web_browser_brave %}
# Brave
app-text/ghostscript-gpl cups
{% endif %}

{% if web_browser_librewolf %}
# Librewolf
media-libs/libvpx postproc

# Librewolf-bin, even we don't need wayland :(
x11-libs/gtk+ wayland
media-libs/mesa wayland
{% endif %}
