---
# handlers file for display_manager
- name: remove display-manager link
  become: true
  ansible.builtin.file:
    path: /etc/systemd/system/display-manager.service
    state: absent
  when: ansible_facts["service_mgr"] == 'systemd'

- name: enable sddm
  become: true
  ansible.builtin.service:
    name: sddm
    enabled: true
  when: ansible_facts["service_mgr"] == 'systemd' or ansible_facts["os_family"] == 'Void'
