{% if dotfiles_audio_backend == 'alsa' %}
USE="{{ dotfiles_audio_backend }} -pulseaudio ${USE}"
{% endif %}

{% if dotfiles_audio_backend == 'pulseaudio' %}
USE="{{ dotfiles_audio_backend }} ${USE}"
{% endif %}

{% if dotfiles_awm %}
USE="-wayland ${USE}"
{% endif %}

{% if dotfiles_gpu_driver == 'intel_gen7' %}
USE="opengl vaapi ${USE}"
{% endif %}

{% if dotfiles_gpu_driver == 'intel' %}
USE="opengl vaapi vulkan ${USE}"
{% endif %}

{% if dotfiles_gpu_driver == 'nouveau' %}
# https://wiki.archlinux.org/title/Hardware_video_acceleration#1.2_NVIDIA
# https://nouveau.freedesktop.org/VideoAcceleration.html
USE="vaapi vdpau ${USE}"
{% endif %}
