{% if dotfiles_audio_backend == 'alsa' and not dotfiles_wm == "swayfx" %}
USE="${USE} alsa"
{% endif %}

{% if dotfiles_audio_backend == 'pulseaudio' and not dotfiles_wm == "swayfx" %}
USE="${USE} pulseaudio"
{% endif %}

{% if dotfiles_wm == "awm-m2" or dotfiles_wm == "awm-m3" %}
USE="${USE} X"
{% endif %}

#{% if dotfiles_gpu_driver == 'intel_gen7' %}
#USE="opengl vaapi ${USE}"
#{% endif %}

#{% if dotfiles_gpu_driver == 'intel' %}
#USE="opengl vaapi vulkan ${USE}"
#{% endif %}

#{% if dotfiles_gpu_driver == 'nouveau' %}
# https://wiki.archlinux.org/title/Hardware_video_acceleration#1.2_NVIDIA
# https://nouveau.freedesktop.org/VideoAcceleration.html
#USE="vaapi vdpau ${USE}"
#{% endif %}

{% if dotfiles_wm == 'swayfx' and not ansible_facts["service_mgr"] == "systemd" %}
USE="${USE} wayland elogind -systemd"
{% endif %}

{% if dotfiles_wm == 'swayfx' and ansible_facts["service_mgr"] == "systemd" %}
# Should be alrealy enable with systemd
USE="${USE} wayland"
{% endif %}
