{% if dotfiles_audio_backend == 'alsa' or dotfiles_audio_backend == 'pulseaudio' %}
# ALSA
media-sound/alsa-utils libsamplerate
media-plugins/alsa-plugins speex
media-video/ffmpeg ladspa bs2b
{% endif %}

{% if dotfiles_audio_backend == 'pulseaudio' %}
# Pulseaudio
media-libs/libpulse X
# cycle dependencie here
media-libs/libsndfile minimal
{% endif %}

{% if dotfiles_mpd %}
# MPD
dev-libs/boost icu
media-sound/ncmpcpp taglib visualizer clock
media-sound/mpd -network
{% endif %}
