{% if display_manager_sddm %}
dev-qt/qtbase opengl
dev-qt/qtdeclarative opengl
dev-qt/qttools opengl
dev-qt/qtquick3d opengl
dev-qt/qtmultimedia gstreamer qml opengl widgets
sys-libs/zlib minizip
media-libs/openal qt5
{% endif %}
