{% if dm_use == 'sddm' %}
dev-qt/qtbase opengl
dev-qt/qtdeclarative opengl
dev-qt/qttools opengl
dev-qt/qtquick3d opengl
dev-qt/qtmultimedia gstreamer qml opengl widgets
sys-libs/zlib minizip
media-libs/openal qt5
{% endif %}

{% if dm_use == 'lightdm' %}
net-libs/webkit-gtk X
media-libs/harfbuzz icu
{% if ansible_service_mgr == 'systemd' %}
x11-misc/lightdm -gnome non-root
sys-apps/systemd policykit
{% else %}
x11-misc/lightdm -gnome non-root elogind
{% endif %}
{% endif %}

{% if dm_use == 'lxdm' %}
x11-libs/pango X
{% endif %}
